Body {
    margin: 0; padding: 0;
    width: 100%; height: 100vh;
    background: linear-gradient(
    45deg,
    rgb(7, 141, 112) 0%,
    rgb(255, 255, 255) 35%, 
    rgb(255, 255, 255) 65%, 
    rgb(61, 26, 121) 100%
    );
    font-family: sans-serif;
    overflow: hidden;
}

.boxInicial {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 340px;
  background-color: white;
  padding: 20px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.2s;
}

.boxInicial:hover{
  transform: translate(-50%, -50%) translateY(-2px);
}

.inputPesquisa {
  padding: 8px;
  background: rgba(122, 122, 122, 0.8);
  color: white;
  border-radius: 10px;
  margin-bottom: 15px;
}

.search-btn {
  padding: 8px 12px;
  border-radius: 10px;
  background-color: rgb(50, 22, 98);
  color: white;
  cursor: pointer;
}

.botoes {
  display: flex;
  border-radius: 10px;
  justify-content: space-around;
  margin-top: 10px;
}

.tool-card {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: transform 0.2s;
}

#nasa { background-color: rgb(15, 2, 61); color:
white; border-radius: 10px}
#freeMoney, #calc { background-color: rgb(114, 1, 1);
color: rgb(144, 1, 1); border-radius: 10px}

.tool-card:hover {
  transform: translateY(-6px)
}

.janela-oculta {
  display: none !important
}

.app-box, .calc-card {
  position: absolute;
  top: 50px;
  left: 50px;
  background-color: rgba(12, 1, 71, 0.9);
  border-radius: 25px;
  padding: 10px;
  color: white;
}

.calc-card{
  width: 250px;
}

.app-box{
  width: 230px;
}

.nasa-media {
  max-width: 100%;
}

#calc-screen { 
  background-color: rgba(0, 0, 0, 0);
  color: rgb(248, 235, 255);
  width: 90%;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.calc-buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4px;
}

.calc-buttons button {
  padding: 12px 5px;
  border-radius: 50%;
  background-color: rgba(38, 22, 88, 0.1);
  cursor: pointer;
  font-weight: bold;
}

.calc-buttons button.btn-clear{
  color: rgb(160, 0, 0);
}

.calc-buttons button.btn-back{
  color: rgba(140, 0, 0, 0.8)
}